
.jm-share-container {
	width: 500px;
	margin: 20px;
}

#display_box {
    padding: 10px;
    border: 1px solid #EFEFEF;
}

.scrapedurl-container {
    /*position: relative;*/
}

.scrapedurl-box {
    /*position: absolute;
    top: 20px;
    left: 100px;*/
    width: 450px;
    background-color: #EFEFEF;
    padding: 10px;
    border: 1px solid #DADADA;   
}

.more-images {
    display: block;
    font-weight: bold;
    color: #0000FF;
}

.img-carousel {
    float: left;
    margin-right: 5px;
    width: 125px;
    height: 125px;
    overflow: auto;
    outline: 1px dotted #FF0000;
}
