
.jm-share-container {
	width: 500px;
	margin: 20px;
}

#display_box {
    padding: 10px;
    border: 1px solid #EFEFEF;
}

.scrapedurl-container {
    /*position: relative;*/
}

.scrapedurl-box {
    /*position: absolute;
    top: 20px;
    left: 100px;*/
    width: 450px;
    background-color: #EFEFEF;
    padding: 10px;
    border: 1px solid #DADADA;   
}

.more-images {
    width: 100%;
    display: block;
    color: #0000FF;
}
.more-images a {
    text-decoration: none;
    font-size: .8em;
}

.more-images .next-image {
    float: right;
    margin-right: 5px;
    margin-top: 3px;
}
.more-images .prev-image {
    margin-left: 5px;
}
.more-images .get-images {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.img-carousel-wrapper {
    float: left;
    margin-right: 5px;
    margin-bottom: 40px;
    background-color: #DADADA;
}
.img-carousel {
    width: 100%;
    text-align: center;
    overflow: hidden;
    line-height: 130px;
    height: 134px;
}

.img-carousel img {
    vertical-align: middle;
    margin: 2px;
    width: 130px;
    border: 0;
}

.img-carousel-inactive {
    display: none;   
}
